@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow: hidden;
}

.planet {
	@apply relative;
}

.system {
	@apply gap-4 flex justify-center;
}

.system__item {
	@apply relative;
}

.system__plus {
	@apply cursor-pointer hover:bg-white/10 rounded-lg border-dashed border-2 aspect-square h-16 text-white border-white/30 flex items-center justify-center order-1;
}

.system > * {
	@apply hover:bg-white/10 transition-all;
}

.system > .active {
	@apply bg-indigo-500 hover:bg-indigo-600;
}

.system > * .system {
	opacity: 0;
}

.system > :is(.active, :hover) .system {
	opacity: 1;
}

.system:has(.active) > *:not(.active, :hover) {
	filter: blur(5px);
}

.system--planet {
	@apply absolute bottom-full pb-4 left-1/2 -translate-x-1/2 w-max;
}

.lil-gui.root {
	bottom: 120px;
	top: auto;
	display: flex;
	width: 100%;
	right: 0;
	flex-direction: column;
	align-items: center;
}

.lil-gui.root .title {
	display: none;
}

.lil-gui.root .title,
.lil-gui.root {
	background: transparent;
}

.lil-gui.root .children {
	@apply bg-gray-950/80 p-3 justify-center rounded-xl gap-3 flex flex-wrap;
}

.lil-gui.root .children .controller {
	@apply rounded-lg gap-2 m-0 italic bg-indigo-400/20 h-12 px-2 text-sm text-gray-500;
}

.lil-gui.root .children .controller > * {
	width: auto;
	min-width: unset;
}

.lil-gui.root .children .controller input {
	@apply text-white;
}

.lil-gui.root .children .controller .fill {
	@apply border-indigo-600 bg-indigo-500;
}

.lil-gui.root .children .controller .widget {
	@apply gap-1;
}

.lil-gui.root .children .controller .slider {
	width: 70px;
	@apply rounded-md;
}

.lil-gui.root .children .controller .slider + input {
	@apply hidden;
}
